* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}

#root {
    position: relative;
    width: 180vw;
    height: 100vh;
    background-color: #FAF8F5;
    border: 1px solid black;
}

#stripebox {
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
}

.basicblue{
    position: absolute;
    left: 230vw;
    width: 250vw;
    height: 1.6vh;
    background-color: #121247;
    animation-duration: 6s;
    animation-delay: 1s;
}
.yellow{
    position: absolute;
    left: 230vw;
    width: 250vw;
    height: 1.6vh; 
    background-color: #FFD732;
    animation-duration: 6s;
    animation-delay: 1s;
}
.poz1{
    margin: 4vh 0;
    animation-name: example1;
}
.poz2{
    margin: 10vh 0;
    animation-name: example2;
}
.poz3{
    margin: 16vh 0;
    animation-name: example3;
}
.poz4{
    margin: 22vh 0;
    animation-name: example4;
}
.poz5{
    margin: 28vh 0;
    animation-name: example5;
}
.poz6{
    margin: 34vh 0;
    animation-name: example6;
}
.poz7{
    margin: 40vh 0;
    animation-name: example7;
}
.poz8 {
    margin: 46vh 0;
    animation-name: example8;
}

@keyframes example1 {
    0%   {left:-220vw;}
    75%   {left:300vw;}
}
@keyframes example2 {
    0%   {left:-300vw;}
    75%   {left:300vw;}
}
@keyframes example3 {
    0%   {left:-260vw;}
    75%   {left:300vw;}
}
@keyframes example4 {
    0%   {left:-340vw;}
    75%   {left:300vw;}
}
@keyframes example5 {
    0%   {left:-300vw;}
    75%   {left:300vw;}
}
@keyframes example6 {
    0%   {left:-380vw;}
    75%   {left:300vw;}
}
@keyframes example7 {
    0%   {left:-340vw;}
    75%   {left:300vw;}
}
@keyframes example8 {
    0%   {left:-420vw;}
    75%   {left:300vw;}
}



/* Bence Landing Page */

.bence .bottle-container, .bence .text-container{
    height: 40vw;
    min-height: 500px;
    opacity: 0.06;
    z-index: 2;
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.bence .bottle{
    height: 100%;
}

.bence .bottle-container{
    animation-name: landing2;
    animation-duration: 4s;
}

.bence .text-container{
    opacity: 1;

    display: grid;
    text-align: center;
    color: #121247;
    line-height: 1.03;
    letter-spacing: 0em;
    font-family: Catacumba Pro;
    
    animation-name: landing1;
    animation-duration: 4s;
}

.bence .text-container .logo img{
    width: 10vw;
}

.bence .text-container .animated-text{
    font-size: 5.7vw;
}

.bence .text-container .animated-text .text2 {
    color: #ffd732;
}

.bence .text-container .question-text{
    font-size: 1.6vw;
    padding: 0 20% 7%;
    line-height: 1.5;
}

@media screen and (max-width: 1000px){
    .bence .bottle4{
        display: none;
    }
    .bence .bottle-container{
        height: 65vw;
    }
} 

@keyframes landing1 {
    0%   {opacity: 0;}
    99%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes landing2 {
    0%   {opacity: 0;}
    99%  {opacity: 0;}
    100% {opacity: 0.06;}
}

.logo svg{
    margin-top: 20px;
    width: 250px;
    height: 65px;
}