* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
  
    background: transparent;
  
    font-family: inherit;
    
    text-decoration: none;
}
  
ol, ul, li {
    list-style:none;
    display:block;
}
  
table {
    border-collapse:collapse;
    border-spacing:0
}
  
a img {
    border: none
}
  
button, a {
    cursor: pointer;
    color: inherit
}
  
textarea {
    resize: none
}
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0
}
body{
    background-color: #FAF8F5;
}

#root {
    position: relative;
    width: 100vw;
    height: 97vh;
    background-color: #FAF8F5;
}

#stripebox {
    position: absolute;
    width: 100%;
    height: 50vh;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
}

.basicblue{
    position: absolute;
    left: 230vw;
    width: 250vw;
    height: 1.6vh;
    background-color: #121247;
    animation-duration: 6s;
    animation-delay: 1s;
}
.yellow{
    position: absolute;
    left: 230vw;
    width: 250vw;
    height: 1.6vh; 
    background-color: #FFD732;
    animation-duration: 6s;
    animation-delay: 1s;
}
.poz1{
    margin: 4vh 0;
    animation-name: example1;
}
.poz2{
    margin: 10vh 0;
    animation-name: example2;
}
.poz3{
    margin: 16vh 0;
    animation-name: example3;
}
.poz4{
    margin: 22vh 0;
    animation-name: example4;
}
.poz5{
    margin: 28vh 0;
    animation-name: example5;
}
.poz6{
    margin: 34vh 0;
    animation-name: example6;
}
.poz7{
    margin: 40vh 0;
    animation-name: example7;
}
.poz8 {
    margin: 46vh 0;
    animation-name: example8;
}

@keyframes example1 {
    0%   {left:-220vw;}
    75%   {left:300vw;}
}
@keyframes example2 {
    0%   {left:-300vw;}
    75%   {left:300vw;}
}
@keyframes example3 {
    0%   {left:-260vw;}
    75%   {left:300vw;}
}
@keyframes example4 {
    0%   {left:-340vw;}
    75%   {left:300vw;}
}
@keyframes example5 {
    0%   {left:-300vw;}
    75%   {left:300vw;}
}
@keyframes example6 {
    0%   {left:-380vw;}
    75%   {left:300vw;}
}
@keyframes example7 {
    0%   {left:-340vw;}
    75%   {left:300vw;}
}
@keyframes example8 {
    0%   {left:-420vw;}
    75%   {left:300vw;}
}



/* Bence Landing Page */

.bence .bottle-container, .bence .text-container{
    height: 40vw;
    min-height: 500px;
    opacity: 0.06;
    z-index: 2;
    
    display: flex;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    justify-content: center;
}

.bence .bottle{
    height: 100%;
    margin:0 1vw 0;
}

.bence .bottle-container{
    animation-name: landing2;
    animation-duration: 4.5s;
}

.bence .text-container{
    display: flex;
    opacity: 1;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: #121247;
    line-height: 1.03;
    letter-spacing: 0em;
    
    animation-name: landing1;
    animation-duration: 4s;
}

.bence .text-container .logo svg{
    width: 10vw;
    margin-bottom: 4vw;  
}

.bence .text-container .animated-text{
    font-size: 6.5vw;
    font-family: 'EB Garamond', serif;
}

.bence .text-container .animated-text .text2 {
    color: #ffd732;
    font-style: italic;
}

.bence .text-container .question-text{
    padding: 5% 19% 8%;

    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;

    animation-name: fadeIn;
    animation-duration: 4.8s;
}

.bence .text-container .box1, .bence .text-container .box2 {
    height: 10vw;
    width: 100%;
    overflow: hidden;
  }

  .bence .text-container .box1 div, .bence .text-container .box2 div{
      top: 0;
      
      animation-name: textUp;
      animation-duration: 4.5s;
      animation-fill-mode: forwards;
  }

  .bence .text-container .box2, .bence .text-container .box2 div{
      height: 11vw;
  }

@media screen and (max-width: 1024px){
    .bence .bottle4{
        display: none;
    }
    .bence .bottle-container{
        height: 65vw;
    }
    .bence .text-container .logo svg{
        width: 14vw;
    }
    .bence .text-container .animated-text{
        font-size: 7.98vw;
    }
    .bence .text-container .question-text{
        font-size: 2.24vw;
    }
    .bence .text-container .box1, .bence .text-container .box2 {
        overflow: visible;
    }
    .bence .text-container .box2{
        width: 65vw;
    }
}

@media screen and (max-width: 764px){
    .bence .text-container{
        height: 2vw;
    }
    .bence .text-container .logo svg{
        width: 16.8vw;
    }
    .bence .text-container .animated-text{
        font-size: 5.7vw;
    }
    .bence .text-container .question-text{
        font-size: 2.68vw;   
    }
}

@keyframes landing1 {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes landing2 {
    0%   {opacity: 0;}
    80%  {opacity: 0;}
    100% {opacity: 0.06;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    90%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes textUp {
    0% { transform: translate(0, 100%); }
    70% { transform: translate(0, 100%); }
    100% { transform: translate(0, 0); }
  }

  .borderDiv{
      height: 10.5vw;
  }


/* Flóra loading csík és számlámó */

.fl {
    position: absolute;
    bottom: 32px;
    left: 30vw;
    width: 0;
    height: 3px;
    background-color: #FFD732;
    animation-name: loadingStripe;
    animation-duration: 4s; 
}

@keyframes loadingStripe {
    0% {width: 0px; opacity: 0;}
    1% {width: 1px; opacity: 1;}
    100% {width: 38vw;}
}

.loading, 
.counter {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    font-family: Catacumba Pro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    color: #121247;
}

.loading {
    white-space: nowrap;
    overflow: hidden;
    left: 30vw;

    animation: animated-text 1s steps(15,end) 4 normal both;
}

@keyframes animated-text{
    0% {width: 0; opacity: 0;}
    2% {opacity: 1;}
    100% {width: 100px;}
}


.counter {
    transform: translateX(67vw);
}

/*Eszti gombok */

.buttonDiv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    margin: 3vh 0;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  
    height: 11vh;
   
    pointer-events: none;
}
  
.button {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0 1vh;
    padding: 4vh 4vh;
    
    background-color: transparent;
    
    text-transform: uppercase;
    text-align: center;
}
  
.buttonSpan {
    width: 10vw;
    font-weight: 500;
    font-size: 3vw;
    text-transform: Capitalize;
    color: #121247;
}
  
.buttonDiv:hover > * {
    opacity: 0.5;
}
  
.buttonDiv:hover > *:hover {
   transform: scale(1.1);
    opacity: 1;
}
  
.buttonDiv > * {
    pointer-events: auto;
}
  
.buttonSpan::before {
    content: "";
    padding-top: 5px;
    border-top: 1.5px solid #d0d0d0;
    display: block;
  }
  
  .buttonSpan::after {
    content: "";
    padding-bottom: 5px;
    border-bottom: 1.5px solid #d0d0d0;
    display: block;
  }
  
  
  
